### deleted sidebar from main container in layout.html
### saved for later usage of "popular topics" 

<div class="row" style="align-items: center;">
	<div class="col-md-8">
		{% block content %}{% endblock %}
	</div>
	<div class="col-md-4">
		<div class="content-section">
			<h4>Popular Website Topics</h4>
			<p class='text-muted'>
				<ul class="list-group">
					{% for i in range(3) %}
						<li class="list-group-item list-group-item-light"><a href="{{ url_for('result_web', topic=popular_web[i]) }}">{{popular_web[i]}}</a></li>
					{% endfor %}
				</ul>
			</p>
		</div>
		<div class="content-section">
			<h4>Popular Blog Topics</h4>
			<p class='text-muted'>
				<ul class="list-group">
					{% for i in range(3) %}
						<li class="list-group-item list-group-item-light"><a href="{{ url_for('result_blog', topic=popular_blog[i]) }}">{{popular_blog[i]}}</a></li>
					{% endfor %}
				</ul>
			</p>
		</div>
	</div>
</div>