{% extends 'layout.html' %}
{% block content %}
	<h2>About {{name}}</h2><br />
	<div style="text-align: center;">
		<img src="/static/images/colour_plots.png" height="220" width="300" />&emsp;&emsp;
		<img src="/static/images/colour_blog.png" height="220" width="300" /><br>
		<i>The colour distribution of various websites</i>&emsp;&emsp;&emsp;
		<i>The colour distribution of various blogs</i>&emsp;<br>
	</div><br>
	<p>
		Colours and fonts have a huge impact on how visitors view your online content, whether it's a company website or a personal blog.
		With so many possible colours and fonts, it's difficult to choose the perfect combination for your site.
		Get the best colours and fonts for your website/blog with the Web Crawl Style Creator.
		It compares your website/blog's typical text content with other similar websites/blogs in order to recommend you the perfect style!<br><br>

		We are a team of four SFU Big Data students who are on a mission to help you make your online content more beautiful <3
	</p>
{% endblock content %}
