{% extends 'layout.html' %}
{% block content %}
	<h2>Blog Style Generator</h2><br />
	<p>We will help you design your blog according to the usual contents you write about.</p>

	<div class="content-section">
	    <form method="POST" action="">
	    	<h5>Please enter your typical content/article:</h5><br>
	        {{ form.hidden_tag() }}
	        <fieldset class="form-group">
	            <div class="form-group">
	                {{ form.content(class="form-control form-control-lg") }}
	            </div>
	        </fieldset>
	        <div class="form-group">
	            {{ form.submit(class="btn btn-outline-info") }}
	        </div>
	    </form>
	</div>
{% endblock content %}

{% block popular %}
	<div class="content-section">
		<h3>Top 5 Popular Topics</h3>
		<p class='text-muted'>You can choose any topic you'd like.
			<ul class="list-group">
				{% for i in range(5) %}
					<li class="list-group-item list-group-item-light"><a href="{{ url_for('result_blog', topic=popular[i]) }}">{{popular[i]}}</a></li>
				{% endfor %}
			</ul>
		</p>
	</div>
{% endblock popular %}