{% extends 'layout.html' %}

{% block content %}
	<h2>Welcome to {{ name }}!</h2><br />
	<p>We will recommend a website/blog style to you.</p>
	<img src="/static/images/sample.png" height="300" width="700" /><br><hr>
	<h5>Please choose the type of your site:</h5><br>
	<div class="text-center" style="margin-right:62px;">
		<a href="/website" type="button" class="btn btn-primary" style="background-color: #74a0b5;">Website</a>
		<a href="/blog" type="button" class="btn btn-primary" style="background-color: #74a0b5;">Blog</a>
	</div>
{% endblock content %}

