{% extends 'layout.html' %}
{% block content %}
	<h2>Website Style Generator</h2><br />
	<p>We can help you decide on your website design based on the usual content that you would write about.</p>
	
	<div class="content-section">
	    <form method="POST" action="">
	    	<h5>Please enter your typical content:</h5><br>
	        {{ form.hidden_tag() }}
	        <fieldset class="form-group">
	            <div class="form-group">
	                {{ form.content(class="form-control form-control-lg") }}
	            </div>
	        </fieldset>
	        <div class="form-group">
	            {{ form.submit(class="btn btn-outline-info") }}
	        </div>
	    </form>
	</div>
{% endblock content %}